$mobile-small-width: 480px;
$mobile-medium-width: 640px;
$mobile-large-width: 768px;
$tablet-small-width: 900px;
$tablet-medium-width: 1024px;
$tablet-large-width: 1280px;
$desktop-small-width: 1366px;
$desktop-medium-width: 1440px;
$desktop-large-width: 1920px;
